<!-- CSS only -->

body {
    margin: 40px;
  }
  
  .sidebar {
    /* TODO: Define the grid area here */
    grid-area: sidebar;
  }
  
  .content {
  
    grid-area: content;
    /* TODO: Define the grid area here */
  }
  
  .header {
  
    grid-area: header;
    /* TODO: Define the grid area here */
  }
  
  .picture {
  
    grid-area: picture;
    /* TODO: Define the grid area here */
  }
  .bio {
  
    grid-area: bio;
    /* TODO: Define the grid area here */
  }
  
  .left {
  
    grid-area: left;
    /* TODO: Define the grid area here */
  }

  .Packman {
  
    grid-area: Packman;
    /* TODO: Define the grid area here */
  }

  .Pcreadme {
  
    grid-area: Pcreadme;
    /* TODO: Define the grid area here */
  }

  .Eyemovement {
  
    grid-area: Eyemovement;
    /* TODO: Define the grid area here */
  }

  .eyereadme {
  
    grid-area: eyereadme;
    /* TODO: Define the grid area here */
  }

  .BusTracker {
  
    grid-area: BusTracker;
    /* TODO: Define the grid area here */
  }

  .Busreadme {
  
    grid-area: left;
    /* TODO: Define the grid area here */
  }
  
  .wrapper {
    display: grid;
    grid-gap: 10px;
    background-color: rgb(250, 233, 239);
    color: #444;
  
    /* TODO: Define the grid-template-columns and grid-template-areas values here. */
    grid-template-columns: 300px 300px 300px;
    grid-template-areas:
      '....... header header'
      'sidebar content content'
      'picture  bio  bio';
  }
  
  .box {
    background-color: #b97e8f;
    color: #fff;
    border-radius: 5px;
    padding: 10px;
    font-size: 150%;
  }
  
  .header,
  .footer {
    background-color: #999;
  }
  background-color:rgb(250, 233, 239);
  